.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
	padding: 2rem;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
	text-decoration: none;
}
.site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	text-align: center;
	width: 120%;
	padding: 1rem;
}

/*home page styling*/
.recent-blog-posts {
	left: 10%;
	width: 80%;
	@media(min-width: 37.5em) {
		left: 25%;
		width: 50%;
	}
}
/*student list page specific styles*/

.student {
	position: relative;
	left: 10%;
	width: 80%;
	@media(min-width: 37.5em) {
		left: 25%;
		width: 50%;
	}
	height: auto;
	margin-bottom: 3rem;
}
.student-image {
	position: relative;
	height: auto;
}
.student-image img {
	border-radius: 30px;
}
.student-excerpt {
	position: relative;
	height: auto;
	margin-bottom: 3rem;
}
.student-excerpt a{
	height: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: white;
	background-color: #21759b;
}
/*home page wide and full alignment*/
.wp-block[data-align="wide"] {
    /* Add your styles for Wide alignment */
	width: 60%;
	left: 20%;
}

.wp-block[data-align="full"] {
    /* Add your styles for Full alignment */
	width: 80%;
	left: 10%;
}