.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	width: 100%;
	display: block;
	background-color: bisque;
	li {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}
	.main-navigation ul li {
		font-weight: bold;
		width:33%;
		height: 4rem;
		a {
			padding-top:1rem;
			width:100%;
			height: 100%;
		}
		a:hover, a:focus {
			background-color: #f1f1f1;
		}
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
/*footer nav*/
.footer-navigation-menu {
	left: 0%;
	bottom: -10%;
	display: flex;
	flex-direction: row;
	li {
		font-weight: bold;
		width:33%;
		height: 4rem;
		list-style: none;
		a {
			padding-top:1rem;
			width:100%;
			height: 100%;
		}
	}
}